<h2>Datos personales</h2>
<form [formGroup]="formGroup" class="wrapper">
    <label>
        *NIF
        <input formControlName="NIF" [value]="user?.NIF!">
    </label>
    <label>
        *Nombre
        <input  formControlName="nombre" [value]="user?.Nombre!">
    </label>
    <label>
        *1er apellido
        <input formControlName="apellido1" [value]="user?.Apellido1!">
    </label>
    <label>
        2do apellido
        <input formControlName="apellido2" [value]="user?.Apellido2!">
    </label>
    <label>
        Gen
        <input formControlName="genero" [value]="user?.Genero!">
    </label>
    <label>
        Nacimiento
        <input formControlName="nacimiento" [value]="user?.FechaDeNacicmiento!">
    </label>
</form>

<p-button [disabled]="formGroup.invalid" label="Guardar"></p-button>
