@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import "primeicons/primeicons.css";

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  }
